AuthType Basic
AuthName "MAK"
AuthUserFile /home/pixeleph/public_html/projects/on-going/mak/.htpasswd
Require valid-user

    Options +FollowSymLinks  
    
    RewriteEngine On
    
    RewriteCond %{SCRIPT_FILENAME} !-d  
	RewriteCond %{SCRIPT_FILENAME} !-f  
    
    RewriteRule ^(regisztralas)$ register.php
    RewriteRule ^(regisztraciomegerositese)$ regisztraciomegerositese.php [QSA]
    RewriteRule ^(kereses)$ search.php [QSA]
    RewriteRule ^([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+)$ sub.php?page=$1&subpage=$2&subsubpage=$3
    RewriteRule ^([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+)$ sub.php?page=$1&subpage=$2
	RewriteRule ^([a-zA-Z0-9_-]+)$ sub.php?page=$1